fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: 600;
  margin-bottom: $small-spacing / 2;
  padding: 0;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: $small-spacing / 2;
}

input,
select {
  display: block;
  font-family: $base-ff;
  font-size: $base-font-size;
}

input[type='search'],
input[type='text'],
input[type='email'],
select[multiple],
select {
  background-color: $base-background-color;
  border: 1px solid $lm-gray;
  border-radius: 0px;
  box-shadow: $form-box-shadow;
  box-sizing: border-box;
  font-family: $base-ff;
  font-size: $base-font-size;
  margin-bottom: $small-spacing;
  padding: $base-spacing / 3;
  transition: border-color $base-duration $base-timing;
  width: 100%;

  &:focus {
    box-shadow: $form-box-shadow-focus;
    outline: none;
  }

  &:disabled {
    background-color: shade($base-background-color, 5%);
    cursor: not-allowed;

    &:hover {
      border: $base-border;
    }
  }
}

textarea {
  resize: vertical;
}

[type='search'] {
  appearance: none;
}

[type='checkbox'],
[type='radio'] {
  display: inline;
  margin-right: $small-spacing / 2;
}

.gfield_checkbox li {
  display: flex;
  line-height: 1;
}

[type='file'] {
  margin-bottom: $small-spacing;
  width: 100%;
}

select {
  margin-bottom: $base-spacing;
  max-width: 100%;
  width: auto;
}

select {
  appearance: none;
  background-color: #fff;
  border-radius: $select-br;
  box-sizing: border-box;
  color: $lm-gray;
  font-size: 1.25rem;
  height: 100%;
  line-height: $base-spacing;
  margin-bottom: 0;
  padding: $base-spacing/2 $base-spacing * 1.5 $base-spacing/2 $base-spacing/2;
  width: 100%;
}

.select-wrap,
.ginput_container_select {
  position: relative;

  &:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid $lm-gray;
    content: '';
    height: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
  }
}

select::placeholder {
  color: $lm-gray;
}

select option {
  color: $lm-gray;
}

.gform_wrapper {
  ul {
    margin-left: 0px !important;

    li {
      list-style-type: none !important;
    }
  }
}

// Gravity form footer form styles.
.inner-footer-form-cta .gform_wrapper .gform_fields {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 24px;

  @media ($grande-screen-up) {
    grid-template-columns: 1fr 1fr;

    .page-template-template-events-list & {
      grid-template-columns: 1fr;
    }
  }

  label.gfield_label {
    font-size: rem(14);
    padding-left: rem(14);
    color: white;
    display: none;
  }

  li {
    margin-bottom: 0;
    min-height: 40px;
    max-height: 40px;

    .page-template-template-events-list & {
      max-width: 520px;
    }

    .ginput_container {
      height: 40px;

      &.ginput_container_textarea {
        height: 100%;
      }

      input:focus,
      textarea:focus {
        box-shadow: #5f5f5f 1px 1px 1px, #5f5f5f -1px -1px 1px,
          #5f5f5f -1px 1px 1px, #5f5f5f 1px -1px 1px;
      }
    }
  }

  input,
  input[type='search'],
  input[type='text'],
  input[type='email'],
  textarea,
  select,
  select[multiple] {
    background-color: #fff;
    border-radius: 0px;
    box-sizing: border-box;
    color: $lm-gray;
    font-size: 1.25rem;
    height: 100%;
    margin-bottom: 0;
    padding: $base-spacing / 3;
    width: 100%;
    border: none;

    &.gf_placeholder {
      color: $lm-gray;
    }
  }

  textarea,
  select[multiple] {
    appearance: none;
  }

  input::placeholder,
  textarea::placeholder {
    color: $lm-gray;
  }

  .ginput_container {
    height: 100%;
  }

  .ginput_container_textarea {
    display: flex;
    order: 1;
  }

  .span-all-columns {
    grid-column: 1 / -1;
  }

  .span-4-rows {
    grid-row: span 4;
    height: unset;
  }

  .span-3-rows {
    grid-row: span 3;
    height: unset;
    max-height: unset;
  }

  .span-6-rows {
    grid-row: span 6;
    height: unset;
    max-height: unset;
  }

  .last-always {
    order: 2;
  }

  .second-to-last-on-mobile {
    @media ($max-large-screen) {
      order: 1;
    }
  }

  //manually styling checkbox
  .gfield_checkbox {
    margin: 0;

    li {
      align-items: center;
      display: flex;
    }

    input {
      opacity: 0;
      width: initial;
    }

    label {
      color: #fff;
      font-size: rem(16);
      font-weight: 400;
      margin-left: 10px;
      position: relative;
      user-select: none;
    }

    //outerbox
    label:before {
      border-radius: 2px;
      border: 1px solid #abb0c0;
      content: '';
      display: inline-block;
      height: 15px;
      left: -22px;
      position: absolute;
      top: -2px;
      width: 15px;
      background-color: #fff;
    }

    //checkmark
    label:after {
      border-bottom: 2px solid;
      border-left: 2px solid;
      content: none;
      display: inline-block;
      height: 6px;
      left: -19px;
      position: absolute;
      top: 1px;
      transform: rotate(-45deg);
      width: 9px;

      .page-is-green & {
        color: $green;
      }
      .page-is-red & {
        color: $red;
      }
      .page-is-blue & {
        color: $blue;
      }
      .page-is-yellow & {
        color: $yellow;
      }
    }

    //checked checkmark
    input:checked + label:after {
      content: '';
    }

    //checked outerbox
    input:checked + label:before {
      background-color: white;
    }

    //focused outerbox
    input:focus + label:before {
      outline: rgb(59, 153, 252) auto 5px;
    }
  }
}

.inner-footer-form-cta .gform_footer:after {
  content: '* Required Fields';
  display: block;
  font-size: rem(14);
  margin-top: 24px;
  color: white;
  display: none;
}
.inner-footer-form-cta{
    #gform_wrapper_17{
        .gform_footer:after {
            display: block;
        }
   }
}

.ui-datepicker {
  background: white;
  max-width: 400px;
  padding: rem(12);
}

.ui-datepicker-header,
.ui-datepicker-title {
  display: flex;
  align-items: center;
  justify-content: center;

  select {
    height: unset;
    cursor: pointer;
    margin: 0 rem(8);
  }
}

.ui-datepicker-next,
.ui-datepicker-prev {
  padding: 0 rem(4);
}

.ui-datepicker-next {
  order: 3;
}

.footer-form-blurb {
  color: white;
}

.validation_error {
  display: none;
}

.gfield_description.validation_message {
  font-size: rem(14);
  padding-left: rem(14);
  color: black;
  font-weight: 600;
}

.inner-footer-form-cta .gform_wrapper li.gfield_error {
  &:after {
    content: '----';
    background-image: url('assets/icons/warning.svg');
    background-position: center;
    color: transparent;
    position: relative;
    top: -55px;
    right: -90%;
    background-color: transparent;
  }

  input,
  input[type='search'],
  input[type='text'],
  input[type='email'],
  textarea,
  select,
  select[multiple] {
    box-shadow: #5f5f5f 1px 1px 1px, #5f5f5f -1px -1px 1px, #5f5f5f -1px 1px 1px,
      #5f5f5f 1px -1px 1px;
    padding-right: 10%;
  }

  & .ginput_container_textarea {
    height: calc(100% - 24px);
  }
}

.inner-footer-form-cta .gform_confirmation_message {
  color: white;
}
