section.footer-form-cta {
  padding-top: $mobile-section-margin;

  @media ($medium-screen-up) {
    padding-top: 0;
  }
}

.inner-footer-form-cta {
  background: $green;
  padding: $mobile-section-margin 0;

  .page-is-red & {
    background: $dark-red;
  }

  .page-is-green & {
    background: $dark-green;
  }

  .page-is-yellow & {
    background: $dark-yellow;
  }

  .page-is-blue & {
    background: $dark-blue;
  }

  @media ($medium-screen-up) {
    clip-path: polygon(0 96px, 100% 0%, 100% 100%, 0% 100%);
    padding: rem(234) 0 $desk-section-margin;
  }

  @media ($large-screen-up) {
    clip-path: polygon(0 230px, 100% 0%, 100% 100%, 0% 100%);
    padding: rem(370) 0 $desk-section-margin;
  }

  .gform_wrapper {
    margin: 0;
  }
}

.footer-form-cta__title {
  color: white;
}

.speaking-exe-dinner .footer-form-cta {
  margin-top: -11.6em;
  .gform_wrapper .gform_fields {
    label.gfield_label {
      display: block;
      font-family: "proxima-nova",sans-serif;
      font-weight: 400;
    }
    li {
      margin-bottom: 12px;
      &:last-child {
        label.gfield_label {
          display: none;
        }
        margin-bottom: 0;
      }
    }
  }
}

@media ($large-screen-up) {
  .speaking-exe-dinner .footer-form-cta .inner-footer-form-cta {
    padding: 20rem 0 6.125rem;
  }
}
.journey-online-training #enroll-your-team .gform_wrapper .gform_fields {
  label.gfield_label {
    display: block;
    font-family: "proxima-nova",sans-serif;
    font-weight: 400;
  }
  li {
    margin-bottom: 12px;
    &:last-child {
      label.gfield_label {
        display: none;
      }
      margin-bottom: 0;
    }
  }
}
.cxpa-foot-form {
    .inner-footer-form-cta{
        background-color: #FFC933;
        .section-title {
            color: #58595B;
        }
        .footer-form-blurb {
            margin-bottom: 50px;
            ol{
                color: #58595B;
                font-family: "proxima-nova", sans-serif;
                font-size: 32px;
                line-height: 40px;
                margin: 0;
                li{
                    list-style: none;
                    counter-increment: inst;
                    position: relative;
                    padding-left: 33px;
                    
                    &:before{
                        content: counter(inst) ".";
                        font-weight: 600;
                        font-style: italic;
                        padding-right: 10px;
                        font-family: Adelle;
                        position: absolute;
                        left: 0;
                        top: 0;
                    }
                }
            }
        }
    }
}

@media ($large-screen-up){
  .cxpa-foot-form .inner-footer-form-cta{padding:19.4rem 0 6.125rem;}
  .journey-online-training .footer-form-cta{margin-top:-231px;}
}
@media ($max-large-screen){
  .journey-online-training .footer-form-cta{margin-top:-161px;}
}
@media ($max-medium-screen){
  .cxpa-foot-form .inner-footer-form-cta .footer-form-blurb ol{
    font-size:22px;
    line-height:30px;
    li{
      padding-left:25px;
    }
  }  
}
