.blog-footer-promo {
  background: $green;
  border: rem(8) solid $yellow;
  color: white;
  font-size: rem(18);
  line-height: rem(28);
  margin-bottom: rem(56);
  margin-top: rem(56);
  padding: rem(24);
  position: relative;
  text-align: center;
  z-index: 2;

  .single-resource & {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  &:last-of-type {
    margin-bottom: rem(72);

    .single-resource & {
      margin-bottom: 0px;
    }
  }

  @media ($medium-screen-up) {
    border: rem(16) solid $yellow;
    font-size: rem(24);
    line-height: rem(32);
    padding: rem(54);
  }

  @media ($grande-screen-up) {
    .single-resource & {
      min-width: 200px;
      margin-left: rem(48);

      &:first-of-type {
        margin-top: 0px;
      }
    }
  }
}

.blog-footer-promo__button-wrap {
  margin-top: rem(32);
}
