.header-search-box {
    @include base_transition();
    display: none;

    .inner-wrap {
        align-items: center;
        display: flex;
    }

    &.search-is-open {
        background-color: white;
        bottom: 0;
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 1000;
        padding: 0 $base-spacing;

        .scrolled & {
            border-bottom: $base-border;
        }

        input {
            border: none;
            box-shadow: none;
            position: absolute;
            top: 50%;
            transform: translateY( -50% );
            margin: 0;
        }

        input[type='submit'] {
            display: none;
        }

        .header-search-box__close-search {
            align-items: center;
            display: flex;
            height: auto;
            position: absolute;
            right: $base-spacing;
            top: 50%;
            transform: translateY( -50% );
            width: 40px;

            &:hover {
                cursor: pointer;
            }

        }
    }
}
