// Font Sizes
.f16 {
  font-size: rem(16);
}

.f18 {
  font-size: rem(18);
}

.f20 {
  font-size: rem(20);
}

.f22 {
  font-size: rem(22);
}

.f24 {
  font-size: rem(24);
}

.f26 {
  font-size: rem(26);
}

.f28 {
  font-size: rem(28);
}

.f30 {
  font-size: rem(30);
}

.f32 {
  font-size: rem(32);
}

.f34 {
  font-size: rem(34);
}

.f36 {
  font-size: rem(36);
}

.f38 {
  font-size: rem(38);
}

.f40 {
  font-size: rem(40);
}

.f42 {
  font-size: rem(42);
}

.f44 {
  font-size: rem(44);
}

.f46 {
  font-size: rem(46);
}

.f48 {
  font-size: rem(48);
}

.f60 {
  font-size: rem(60);
}

.f90 {
  font-size: rem(90);
}

// Font Weights
.fwb {
  font-weight: bold;
}
