/**
* Avatar
*/

.avatar {
  float: left;
}

.alignleft .avatar,
.author-box .avatar {
  margin-right: 24px;
}

.alignright .avatar {
  margin-left: 24px;
}

/**
* Media
*/

a.aligncenter img {
  display: block;
  margin: 0 auto;
}

a.alignnone {
  display: inline-block;
}

.alignleft {
  float: left;
  text-align: left;
}

.alignright {
  float: right;
  text-align: right;
}

a.alignleft,
a.alignnone,
a.alignright {
  max-width: 100%;
}

img.centered,
.aligncenter {
  display: block;
  margin: 0 auto $base-spacing * 2;
}

img.alignnone,
.alignnone {
  margin-bottom: $base-spacing;
}

a.alignleft,
img.alignleft,
.wp-caption.alignleft {
  margin: 0 $base-spacing * 2 $base-spacing * 2 0;
}

a.alignright,
img.alignright,
.wp-caption.alignright {
  margin: 0 0 $base-spacing * 2 $base-spacing * 2;
}

.wp-caption-text {
  font-size: $base-font-size;
  text-align: center;
}

.entry-content p.wp-caption-text {
  margin-bottom: 0;
}

/**
* Objects
*/

embed,
iframe,
img,
object,
.wp-caption {
  max-width: 100%;
}

img {
  height: auto;
}

.featured-content img,
.gallery img {
  width: auto;
}

/**
* Widget
*/

.widget {
  word-wrap: break-word;
}

.widget li li {
  border: none;
  margin: 0 0 0 $base-spacing * 2;
  padding: 0;
}

.widget_calendar table {
  width: 100%;
}

.widget_calendar td,
.widget_calendar th {
  text-align: center;
}

/**
* Entry Content
*/

.entry-content ol,
.entry-content ul {
  margin-bottom: 28px;
  margin-left: 40px;
}

.entry-content ol > li {
  list-style-type: decimal;
}

.entry-content ul > li {
  list-style-type: disc;
}

.entry-content ol ol,
.entry-content ul ul {
  margin-bottom: 0;
}

.entry-content code {
  background-color: #333;
  color: #ddd;
}

/**
* Entry Meta
*/

.entry-comments-link::before {
  content: '\2014';
  margin: 0 $base-spacing 0 $base-spacing/2;
}

/**
* Gallery
*
* We aren't going to use Neat for this gallery due to the possible number of gallery columns
* that don't easily break into 12.
*
*/

.gallery {
  overflow: hidden;
}

.gallery-item {
  float: left;
  margin: 0 0 28px;
  text-align: center;
}

.gallery-columns-2 .gallery-item {
  width: 50%;
}

.gallery-columns-3 .gallery-item {
  width: 33%;
}

.gallery-columns-4 .gallery-item {
  width: 25%;
}

.gallery-columns-5 .gallery-item {
  width: 20%;
}

.gallery-columns-6 .gallery-item {
  width: 16.6666%;
}

.gallery-columns-7 .gallery-item {
  width: 14.2857%;
}

.gallery-columns-8 .gallery-item {
  width: 12.5%;
}

.gallery-columns-9 .gallery-item {
  width: 11.1111%;
}

.gallery img {
  border: 1px solid $dark-gray;
  height: auto;
  padding: 4px;
}

.gallery img:hover {
  border: 1px solid $medium-gray;
}

@supports (padding: max(0px)) {
  .site-container {
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }
}

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}
