// Omega reset is useful for times when you go from one "span column" setting to another. If you go from 3 to 2 columns you'll likely need to reset 3n. And then when you go from 2 to 3 you'd likely need to reset 2n.
@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) {
    margin-right: flex-gutter();
  }
  &:nth-child(#{$nth} + 1) {
    clear: none;
  }
}

@mixin base_transition() {
  transition: all $base-duration $base-timing;
}

@mixin outer_container($width) {
  max-width: $width;
  margin-left: auto;
  margin-right: auto;
}
